.place__title {
  color: #aaa;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .place__title {
    line-height: 12px;
  }
}
