.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 48px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}
