.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px 0;
  }
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 32px 0 56px 0;
  }
}
