@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
/*header block*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@import url(../blocks/content/content.css);
/*lead block*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
/*intro block*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);
/*photo-grid block*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__container/photo-grid__container.css);
@import url(../blocks/photo-grid/__img/photo-grid__img.css);
/*places block*/
@import url(../blocks/places/places.css);
/*place block*/
@import url(../blocks/place/place.css);
@import url(../blocks/place/__header/place__header.css);
@import url(../blocks/place/__description/place__description.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link-block/place__link-block.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__heading/place__heading.css);
/*cover block*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);
/*cover block*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links-list/footer__links-list.css);
