.place__description {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1023px) {
  .place__description {
    gap: 29px;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    flex-direction: column;
  }
}
